aws_region   = "us-east-1"
project_name = "rehan-eks-sre-project"

vpc_cidr = "10.0.0.0/16"

availability_zones = [
  "us-east-1a",
  "us-east-1b"
]

public_subnet_cidrs = [
  "10.0.0.0/20",
  "10.0.16.0/20"
]

private_subnet_cidrs = [
  "10.0.32.0/20",
  "10.0.48.0/20"
]

cluster_name       = "rehan-eks-cluster"
kubernetes_version = "1.34"

instance_types    = ["t3.medium"]
node_desired_size = 2
node_min_size     = 1
node_max_size     = 3

repository_name = "sre-demo-app"
max_image_count = 10

domain_name     = "rehangatus.click"
app_domain_name = "eks.rehangatus.click"

tags = {
  Project   = "rehan-eks-sre-project"
  ManagedBy = "Terraform"
}
